{
    "openapi": "3.0.0",
    "info": {
        "title": "Fitbit API Documentation",
        "description": "API para gestión de disciplinas, comunidades y usuarios",
        "contact": {
            "email": "admin@fitbit.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/v1/communities": {
            "get": {
                "tags": [
                    "Communities"
                ],
                "summary": "Obtener lista de comunidades",
                "description": "Devuelve lista paginada de comunidades",
                "operationId": "getCommunities",
                "responses": {
                    "200": {
                        "description": "Lista de comunidades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Community"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Communities"
                ],
                "summary": "Crear nueva comunidad",
                "description": "Crea una nueva comunidad (solo admin)",
                "operationId": "createCommunity",
                "requestBody": {
                    "description": "Datos de la comunidad",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "discipline_id"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Boxing Community"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Community for boxing enthusiasts"
                                    },
                                    "discipline_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Comunidad creada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Community created successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Community"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado"
                    },
                    "403": {
                        "description": "Acceso denegado"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/v1/disciplines": {
            "get": {
                "tags": [
                    "Disciplines"
                ],
                "summary": "Obtener lista de disciplinas",
                "description": "Devuelve todas las disciplinas disponibles (acceso público)",
                "operationId": "getDisciplines",
                "responses": {
                    "200": {
                        "description": "Lista de disciplinas obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Discipline"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Disciplines"
                ],
                "summary": "Crear nueva disciplina",
                "description": "Crea una nueva disciplina (solo administradores)",
                "operationId": "storeDiscipline",
                "requestBody": {
                    "description": "Datos de la disciplina",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 150,
                                        "example": "Boxing"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Arte marcial de combate con puños",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Disciplina creada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Discipline created successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Discipline"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado"
                    },
                    "403": {
                        "description": "Sin permisos de administrador"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/v1/disciplines/{id}": {
            "get": {
                "tags": [
                    "Disciplines"
                ],
                "summary": "Obtener disciplina específica",
                "description": "Devuelve una disciplina específica por ID (acceso público)",
                "operationId": "showDiscipline",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la disciplina",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Disciplina encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Discipline"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Disciplina no encontrada"
                    }
                }
            },
            "put": {
                "tags": [
                    "Disciplines"
                ],
                "summary": "Actualizar disciplina",
                "description": "Actualiza una disciplina existente (solo administradores)",
                "operationId": "updateDiscipline",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la disciplina",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Datos actualizados de la disciplina",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 150,
                                        "example": "Boxing Updated"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Descripción actualizada",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Disciplina actualizada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Discipline updated successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Discipline"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado"
                    },
                    "403": {
                        "description": "Sin permisos"
                    },
                    "404": {
                        "description": "Disciplina no encontrada"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Disciplines"
                ],
                "summary": "Eliminar disciplina",
                "description": "Elimina una disciplina existente (solo administradores)",
                "operationId": "destroyDiscipline",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la disciplina",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Disciplina eliminada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Discipline deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado"
                    },
                    "403": {
                        "description": "Sin permisos"
                    },
                    "404": {
                        "description": "Disciplina no encontrada"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/v1/users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Obtener lista de usuarios",
                "description": "Devuelve todos los usuarios (solo admin/moderador)",
                "operationId": "getUsers",
                "responses": {
                    "200": {
                        "description": "Lista de usuarios obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/User"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado"
                    },
                    "403": {
                        "description": "Sin permisos"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Crear nuevo usuario",
                "description": "Crea un nuevo usuario (solo admin/moderador)",
                "operationId": "storeUser",
                "requestBody": {
                    "description": "Datos del usuario",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "lastname",
                                    "date_of_birth",
                                    "email",
                                    "password",
                                    "password_confirmation",
                                    "bank_acc"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 150,
                                        "example": "John"
                                    },
                                    "lastname": {
                                        "type": "string",
                                        "maxLength": 150,
                                        "example": "Doe"
                                    },
                                    "date_of_birth": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "1990-01-01"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "minLength": 6,
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "password123"
                                    },
                                    "bank_acc": {
                                        "type": "string",
                                        "example": "1234567890"
                                    },
                                    "discipline_id": {
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Usuario creado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "User created successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado"
                    },
                    "403": {
                        "description": "Sin permisos"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/v1/users/{id}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Obtener usuario específico",
                "description": "Devuelve un usuario específico por ID",
                "operationId": "showUser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del usuario",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Usuario encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado"
                    },
                    "404": {
                        "description": "Usuario no encontrado"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Users"
                ],
                "summary": "Actualizar usuario",
                "description": "Actualiza un usuario existente (solo admin/moderador)",
                "operationId": "updateUser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del usuario",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Datos actualizados del usuario",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "lastname",
                                    "date_of_birth",
                                    "email",
                                    "bank_acc"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 150,
                                        "example": "John Updated"
                                    },
                                    "lastname": {
                                        "type": "string",
                                        "maxLength": 150,
                                        "example": "Doe Updated"
                                    },
                                    "date_of_birth": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "1990-01-01"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.updated@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "minLength": 6,
                                        "example": "newpassword123",
                                        "nullable": true
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "newpassword123",
                                        "nullable": true
                                    },
                                    "bank_acc": {
                                        "type": "string",
                                        "example": "9876543210"
                                    },
                                    "discipline_id": {
                                        "type": "integer",
                                        "example": 2,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Usuario actualizado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "User updated successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado"
                    },
                    "403": {
                        "description": "Sin permisos"
                    },
                    "404": {
                        "description": "Usuario no encontrado"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Users"
                ],
                "summary": "Eliminar usuario",
                "description": "Elimina un usuario existente (solo administradores)",
                "operationId": "destroyUser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del usuario",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Usuario eliminado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "User deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado"
                    },
                    "403": {
                        "description": "Sin permisos de administrador"
                    },
                    "404": {
                        "description": "Usuario no encontrado"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/v1/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Registrar nuevo usuario",
                "description": "Crea una nueva cuenta de usuario",
                "operationId": "register",
                "requestBody": {
                    "description": "Datos del usuario",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation",
                                    "discipline_id"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "discipline_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Usuario registrado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9..."
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        },
                                        "expires_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2023-12-31T23:59:59Z"
                                        },
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Iniciar sesión",
                "description": "Autentica un usuario y devuelve token de acceso",
                "operationId": "login",
                "requestBody": {
                    "description": "Credenciales de usuario",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login exitoso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9..."
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        },
                                        "expires_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Credenciales inválidas"
                    }
                }
            }
        },
        "/api/v1/stats/communities": {
            "get": {
                "tags": [
                    "Community Stats"
                ],
                "summary": "Estadísticas generales de comunidades",
                "description": "Obtiene estadísticas generales de las comunidades",
                "operationId": "getCommunityStats",
                "responses": {
                    "200": {
                        "description": "Estadísticas obtenidas exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "total_communities": {
                                                    "type": "integer",
                                                    "example": 15
                                                },
                                                "total_users": {
                                                    "type": "integer",
                                                    "example": 120
                                                },
                                                "most_popular_community": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Boxing Community"
                                                        },
                                                        "users_count": {
                                                            "type": "integer",
                                                            "example": 25
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "communities_per_discipline": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "discipline": {
                                                                "type": "string",
                                                                "example": "Boxing"
                                                            },
                                                            "communities_count": {
                                                                "type": "integer",
                                                                "example": 5
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado"
                    },
                    "403": {
                        "description": "Sin permisos para ver estadísticas"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/v1/stats/communities/ranking": {
            "get": {
                "tags": [
                    "Community Stats"
                ],
                "summary": "Ranking de comunidades por miembros",
                "description": "Obtiene el top 10 de comunidades con más miembros",
                "operationId": "getCommunityRanking",
                "responses": {
                    "200": {
                        "description": "Ranking obtenido exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Boxing Community"
                                                    },
                                                    "users_count": {
                                                        "type": "integer",
                                                        "example": 25
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado"
                    },
                    "403": {
                        "description": "Sin permisos"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/v1/stats/communities/percentage": {
            "get": {
                "tags": [
                    "Community Stats"
                ],
                "summary": "Porcentaje de usuarios por comunidad",
                "description": "Obtiene el porcentaje de distribución de usuarios en comunidades",
                "operationId": "getCommunityPercentage",
                "responses": {
                    "200": {
                        "description": "Porcentajes obtenidos exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "community_name": {
                                                        "type": "string",
                                                        "example": "Boxing Community"
                                                    },
                                                    "users_count": {
                                                        "type": "integer",
                                                        "example": 25
                                                    },
                                                    "percentage": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 20.83
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado"
                    },
                    "403": {
                        "description": "Sin permisos"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/v1/stats/communities/summary": {
            "get": {
                "tags": [
                    "Community Stats"
                ],
                "summary": "Resumen completo de comunidades",
                "description": "Obtiene un resumen detallado de estadísticas de comunidades",
                "operationId": "getCommunitySummary",
                "responses": {
                    "200": {
                        "description": "Resumen obtenido exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "total_communities": {
                                                    "type": "integer",
                                                    "example": 15
                                                },
                                                "communities_with_moderators": {
                                                    "type": "integer",
                                                    "example": 0
                                                },
                                                "communities_without_moderators": {
                                                    "type": "integer",
                                                    "example": 15
                                                },
                                                "average_members_per_community": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 8.5
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado"
                    },
                    "403": {
                        "description": "Sin permisos"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/api/v1/stats/communities/by-discipline": {
            "get": {
                "tags": [
                    "Community Stats"
                ],
                "summary": "Comunidades agrupadas por disciplina",
                "description": "Obtiene el número de comunidades por cada disciplina",
                "operationId": "getCommunitiesByDiscipline",
                "responses": {
                    "200": {
                        "description": "Estadísticas por disciplina obtenidas exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "discipline_name": {
                                                        "type": "string",
                                                        "example": "Boxing"
                                                    },
                                                    "communities_count": {
                                                        "type": "integer",
                                                        "example": 5
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado"
                    },
                    "403": {
                        "description": "Sin permisos"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Community": {
                "title": "Community",
                "description": "Community model",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Community Name"
                    },
                    "description": {
                        "type": "string",
                        "example": "Community description"
                    },
                    "discipline_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "discipline": {
                        "$ref": "#/components/schemas/Discipline"
                    },
                    "user": {
                        "$ref": "#/components/schemas/User"
                    }
                },
                "type": "object"
            },
            "Discipline": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Boxing"
                    },
                    "description": {
                        "type": "string",
                        "example": "Arte marcial de combate"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "User": {
                "title": "User",
                "description": "User model",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "John Doe"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "john@example.com"
                    },
                    "role": {
                        "type": "string",
                        "enum": [
                            "user",
                            "moderator",
                            "admin"
                        ],
                        "example": "user"
                    },
                    "discipline_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "discipline": {
                        "$ref": "#/components/schemas/Discipline"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearer_token": {
                "type": "http",
                "description": "Enter token in format (Bearer <token>)",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            },
            "type": "http",
            "description": "HTTP authentication",
            "name": "Authorization",
            "in": "header",
            "scheme": "bearer"
        }
    },
    "tags": [
        {
            "name": "Disciplines",
            "description": "Operaciones relacionadas con disciplinas"
        },
        {
            "name": "Users",
            "description": "Operaciones relacionadas con usuarios"
        },
        {
            "name": "Community Stats",
            "description": "Estadísticas de comunidades"
        },
        {
            "name": "Communities",
            "description": "Communities"
        },
        {
            "name": "Authentication",
            "description": "Authentication"
        }
    ],
    "security": [
        {
            "bearer_token": []
        }
    ]
}